<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>

<table>
    <tr>
        <td><a href="MainMenu.html"><img width="50%" src="https://www.haigekassa.ee/sites/default/files/symboolika/hk_eng_cmyk.jpg"></a></td>
        <td><h1> Sick leave reimbursement</h1>
        </td>
    </tr>
</table>
<ul>
    <li><a href="People.html">Person</a>
    <li><a href="Incoming sick leaves.html">Incoming sick leaves</a>
    <li><a href="Processed sick leaves.html">Processed sick leaves</a>
</ul>

<form action="http://localhost:8080/RegistrationSystem/CourseInserted.jsp" method="get">
    <h4></h4>
    <table>
        <tr>
            <td>Here we load the incoming sick leaves </td>

        <tr>
            <td>Person's First name</td>
        <tr>
            <td>Person's Last name</td>
        <tr>
            <td>Person's ID Code</td>
        <tr>
            <table>
</form>



</body>
</html>