<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>

<table>
<tr>
    <td><a href="MainMenu.html"><img width="50%" src="https://www.haigekassa.ee/sites/default/files/symboolika/hk_eng_cmyk.jpg"></a></td>
    <td><h1> Sick leave reimbursement</h1>
    </td>
</tr>
</table>
<ul>
    <li><a href="People.html">Person</a>
    <li><a href="Incoming sick leaves.html">Incoming sick leaves</a>
    <li><a href="Processed sick leaves.html">Processed sick leaves</a>
</ul>

<form action="http://localhost:8080/RegistrationSystem/CourseInserted.jsp" method="get">
    <h4>Search for a Person </h4>
    <table>
        <tr>
            <td>First name: </td>
            <td><input type="text" id="FirstName" name="FirstName"></td>


        </tr>
        <tr>
            <td>Last name: </td>
            <td><input type="text" id="LastName" name="LastName"></td>

        </tr>
        <tr>
            <td>Personal code:</td>
            <td><input type="text" id="PersonIdCode" name="PersonIDCode"><td></tr>
        <td>
            <button type="button">Search</button>
        </td>
        <table>
</form>



</body>
</html>